{
  globals: {
    // Google Apps Script
    HtmlService: true,
    PropertiesService: true,
    UrlFetchApp: true,

    // External Libraries
    GasTap: true,
    OAuth2: true,

    // Our classes
    OAuth2Client: true,
    Salesforce: true,
    TestCommon: true,

    // test function
    testRunner: true,
  },
  extends: 'airbnb-es5',
}
